/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
    width: 1100px;
    margin: 0 auto;
}

#banner h2 {
	font: small-caps 40px/40px "Arial", serif;
    color: #282;
    text-align: center;
}

div#bar {
	font-weight: bold;
	color: white;
	background-color: #98BF21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

#bar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#bar li {
	float: left;
	display: inline;
}

#bar a {
	display: block;
	width: 90px;
	font-weight: bold;
	color: white;
	background-color: #98BF21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

#bar a:hover,a:active {
	background-color:#7A991A;
}

div#login {
	float: right;
}
div#login div {

	float: right;
}

