/* @group player */
.player {
    display: block;
    height: 48px;
    width: 400px;
    position: relative;
    /*position: absolute;
    top: 349px;*/
    left: -1px;
    -webkit-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    -moz-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    -o-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    border-top: 1px solid #c2cbd4;
    border-bottom: 1px solid #283541;
    background: #939eaa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(174, 185, 196, .9)), to(rgba(110, 124, 140, .9)), color-stop(.5, rgba(152, 164, 176, .9)),color-stop(.501, rgba(132, 145, 159, .9)));
    background: -moz-linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
    background: linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
    cursor: default;
}

#playtoggle {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: url(player.png) no-repeat -30px 0;
    cursor: pointer;
}

#playtoggle.playing {
    background-position: 0 0;
}

#playtoggle:active {
    top: 10px;
}

#timeleft {
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #546374;
}

#wrapper #timeleft {
    right: 40px;
}

#gutter {
    position: absolute;
    top: 19px;
    left: 50px;
    right: 50px;
    height: 6px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #546374;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#242f3b), to(#516070));
    background: -moz-linear-gradient(top, #242f3b, #516070);
    background: linear-gradient(top, #242f3b, #516070);
    -webkit-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
    -moz-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
    -o-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
    box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
}

#wrapper #gutter {
    right: 90px;
}

#loading {
    background: #fff;
    background: #939eaa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeef1), to(#c7cfd8));
    background: -moz-linear-gradient(top, #eaeef1, #c7cfd8);
    background: linear-gradient(top, #eaeef1, #c7cfd8);
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    -o-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: block;
    float: left;
    min-width: 6px;
    height: 6px;
}

#handle {
    position: absolute;
    top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: url(player.png) no-repeat -65px -5px;
    cursor: pointer;
}

.player a.popup {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 32px;
    height: 30px;
    overflow: hidden;
    text-indent: -999px;
    background: url(player.png) no-repeat -90px 0;
}

.player a.popup:active {
    background-position: -90px 1px;
}

#player #desc {
  font-style:italic;
}
